body{
    text-align: center;
   background-image: url(Screenshot\ \(146\).png);
   background-size: cover;
   height: 726px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
   margin: 0px;
}
*{
  padding: 0;
  margin: 0;
}
.gi{
   text-align: center;
}
.fi{
    
   transition: 0.10s;
    height: 496px;
    width: 732px;
    border-radius: 20px;
    background-image: url(jyku.png);
    background-size: cover;
}
.fi:hover{
    box-shadow: 20px 20px 60px black ;
}
html::-webkit-scrollbar{
	background-color:#1b2646;
	height: 10px;
	
}
html::-webkit-scrollbar-thumb{
	background-color:#184781;
	
	
}
.op{
    height: 26px;
    width: 106px;
    margin-left: 584px;
    margin-top: -48px;
    background-color: #184781;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    padding: 2px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.10s;
}
.op:hover{
    background-color: #132589;
    box-shadow: 20px 20px 60px black ;
}
#pre{
	background: #1d1f39  url(yhtj.gif) no-repeat center center;
	background-size: 30%;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bj{
	color: #1ec9ff;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    font-family: "Poppins", sans-serif;
    display: flex;
	top: 138px;
	justify-content: center;
	align-items: center;


}
@media screen and (max-width:700px ){
    
    .op {
        height: 12px;
        width: 53px;
        margin-left: 200px;
        margin-top: -24px;
        background-color: #184781;
        color: rgb(255, 255, 255);
        font-family: "Poppins", sans-serif;
        padding: 2px;
        border-radius: 20px;
        text-decoration: none;
        transition: 0.10s;
        font-size: 8px;
    }
    .fi {
        transition: 0.10s;
        height: 179px;
        width: 257px;
        border-radius: 20px;
        background-image: url(jyku.png);
        background-size: cover;
        margin-left: 20px;
        margin-top: -185px;
    }
}
