body{
    text-align: center;
   background-image: url(Screenshot\ \(146\).png);
   background-size: cover;
   height: 726px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
   margin: 0px;
}
*{
  padding: 0;
  margin: 0;
}
.gi{
   text-align: center;
}
.fi{
    
   transition: 0.10s;
    height: 496px;
    width: 732px;
    border-radius: 20px;
    background-image: url(jyku.png);
    background-size: cover;
}
.fi:hover{
    box-shadow: 20px 20px 60px black ;
}
html::-webkit-scrollbar{
	background-color:#1b2646;
	height: 10px;
	
}
html::-webkit-scrollbar-thumb{
	background-color:#184781;
	
	
}
.op{
    height: 26px;
    width: 106px;
    margin-left: 584px;
    margin-top: -48px;
    background-color: #184781;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    padding: 2px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.10s;
}
.op:hover{
    background-color: #132589;
    box-shadow: 20px 20px 60px black ;
}
